<footer class="footer">
  <div class="container content has-text-centered">
    <a href="https://www.nahtnam.com" class="bold has-text-black" target="_blank">&copy; 2018 nahtnam</a>
  </div>
</footer>
