<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>nahtnam</title>
    <import-stylesheets assets=input.assets />
  </head>

  <body>
    <div id="app">
      <include('./_navigation.marko', input) />
      
      <main role="main">
        <include(input.main) />
      </main>

      <include('./_footer.marko') />
    </div>

    <import-javascripts assets=input.assets />
  </body>
</html>
