body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@import "../../../node_modules/highlight.js/styles/vs2015";

pre, pre code, .hljs {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 3px;
  border: 0px solid;
}
