@import "../../../node_modules/materialize-css/sass/components/color";

$roboto_font_path: "/assets/fonts/roboto/";
$primary-color: color("indigo", "base");
$secondary-color: color("pink", "accent-2");

@import "../../../node_modules/materialize-css/sass/materialize";

pre {
  border-radius: 3px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0px;
}
