<footer class="page-footer no-pad-top">
  <div class="footer-copyright indigo">
    <div class="container">
      &copy; 2017 <a href="https://www.ludicrous.xyz" target="_blank" class="white-text bold">ludicrous</a>.
    </div>
  </div>
</footer>
