<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>jtester</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <import-css-assets assets=input.data.assets />
  </head>

  <body>
    <include('./navigation.marko') route=input.data.route />

    <main role="main" id="app">
      <if(input.data.flash)>
        <for(error in input.data.flash)>
          <div class={
            flash: true,
            'white-text': true,
            'flow-text': true,
            center: true,
            indigo: true,
            red: (error.type === 'error'),
            green: (error.type === 'success'),
            orange: (error.type === 'warning')
          }>
            <div class="container">
              ${error.message}
            </div>
          </div>
        </for>
      </if>

      <include(input.main) />
    </main>

    <include('./footer.marko') />
    <import-js-assets assets=input.data.assets liveReload=input.data.liveReload />
  </body>
</html>
