<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>jtester</title>
    {% if assets.css %}
      {% for asset in assets.css %}
        <link href="/assets/css/{{ asset }}" rel="stylesheet">
      {% endfor %}
    {% else %}
      <link href="/assets/css/app.css" rel="stylesheet">
    {% endif %}
  </head>

  <body>
    <main role="main" id="app">
      {% block main %}
      {% endblock %}
    </main>

    {% if assets.js %}
      {% for asset in assets.js %}
        <script src="/assets/js/{{ asset }}"></script>
      {% endfor %}
    {% else %}
      <script src="/assets/js/app.js"></script>
    {% endif %}
    {% if development.liveReload %}
      <script src="/reload/reload.js"></script>
    {% endif %}
  </body>
</html>
